- name: 'Install Nginx'
  ansible.builtin.package:
    name:
      - 'nginx'
    state: present

- name: 'Disable default vhost'
  ansible.builtin.file:
    state: absent
    path: '/etc/nginx/sites-enabled/default'
  notify:
    - 'Reload Nginx'

- name: 'Configure custom vhost'
  vars:
    fqdn: "{{ app_name }}.{{ domain }}"
  ansible.builtin.template:
    src: 'vhost.conf.j2'
    dest: "{{ nginx_conf_path }}/{{ fqdn | default('vhost') }}.conf"
    owner: 'root'
    group: 'root'
    mode: '644'
  notify:
    - 'Reload Nginx'

- name: 'Configure empty upstream'
  ansible.builtin.template:
    src: 'upstream.conf.j2'
    dest: "{{ nginx_conf_path }}/{{ app_name | default('upstream') }}.conf"
    owner: 'root'
    group: 'root'
    mode: '644'
  notify:
    - 'Reload Nginx'

- name: 'Start Nginx'
  ansible.builtin.service:
    name: 'nginx'
    enabled: true
    state: started
