[Unit]
Description=Running containerized service: {{ service_name }}

Wants=network.target
After=network-online.target

StartLimitIntervalSec=150s
StartLimitBurst=4


[Service]
TimeoutStartSec=30s
Restart=always
RestartSec=1s

StateDirectory={{ service_name }}

#ExecStartPre=/usr/bin/podman pull --quiet {{ image_registry }}/{{ image_repository }}:{{ image_tag }}
ExecStart=/usr/bin/podman run \
            --name {{ instance_name }} \
            \
            --publish "{{ instance_port }}:3000" \
            \
            --env "CMD_PORT=3000" \
            --env "CMD_DB_URL=postgres://{{ postgres_user }}:{{ postgres_password }}@{{ postgres_host }}:{{ postgres_port }}/{{ postgres_db }}" \
            --env "CMD_USECDN=false" \
            --env "CMD_ALLOW_ANONYMOUS=true" \
            --env "CMD_ALLOW_ANONYMOUS_EDITS=true" \
            --env "CMD_DEFAULT_PERMISSION=freely" \
            --env "CMD_DOMAIN={{ fqdn }}" \
            --env "CMD_SESSION_SECRET=my-session-secret" \
            \
            --volume ${STATE_DIRECTORY}:/hedgedoc/public/uploads:rw \
            \
            --memory 256Mi \
            --cpu-shares 256 \
            \
            --health-cmd 'curl http://localhost:{{ instance_port }} && exit 0 || exit 1' \
            --health-start-period 5s \
            --health-retries 5 \
            \
            {{ image_registry }}/{{ image_repository }}:{{ image_tag }}

ExecStop=/usr/bin/podman stop --ignore --time 10 {{ instance_name }}
ExecStopPost=/usr/bin/podman rm --ignore --force {{ instance_name }}


[Install]
WantedBy=multi-user.target
