server {

    listen 80 {{ fqdn | default('default_server') }};
    listen [::]:80 {{ fqdn | default('default_server') }};

    root {{ web_root_path }};
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }

    location /healthz {
        return 200;
    }
}
