# available params: https://docs.ansible.com/ansible/latest/reference_appendices/config.html


[defaults]
transport = ssh
force_handlers = True
retry_files_enabled = False

roles_path = ./roles

python_interpreter = /usr/bin/env python3


[privilege_escalation]
become = True
become_user = root
become_method = sudo
