upstream @instance_group {
    {% if instance_ports | default([]) | length <= 0 -%}
    server 127.0.0.1:65535 down;
    {% else %}
    {% for port in instance_ports %}
    server 127.0.0.1:{{ port }};
    {% endfor %}
    {% endif %}
}
