- name: 'Configure service'
  ansible.builtin.template:
    src: 'service.unit.j2'
    dest: "/etc/systemd/system/{{ service_name }}.service"
    owner: 'root'
    group: 'root'
    mode: '644'
  notify:
    - 'Restart service'
